* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(60deg, #65bcf6 0%, #7d65f6 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
button {
    width: 50px;
    height: 50px;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}